<h1 mat-dialog-title>Welcome to Employee Engagement Portal.</h1>
<mat-dialog-content class="mat-typography">

  <p>
    We are happy that you took some time out of your busy schedule.
    Here we are presenting a portal to compete with your colleague in real time, an effective portal for collaboration.
    But be sure you follow and accept the below guidelines to proceed further

  </p>


  <h3> <b>No professional information to be added </b> </h3>
  <p>Don’t add any of your Official Information like Email address and Phone number here.
    This is a public portal.
  </p>

  <h3> <b>Do not enter a game with multiple id.</b></h3>
  <p>Use one specific Id to enter the game.
    Do not use multiple Id.
  </p>

  <h3><b>Do not refresh.</b></h3>
  <p>While playing a game please do not refreh the page as you might loose the data.
  </p>

  <h3><b>Do share your feedback.</b></h3>
  <p>Encourage us by sharing your valuable feedback.
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Accept &amp; Continue</button>
</mat-dialog-actions>
