<h1 mat-dialog-title>Enter a new Question. {{data.myVar}}</h1>
<div mat-dialog-content>
  <form class="example-form" >
    <mat-form-field class="example-full-width">
        <textarea [(ngModel)]="QuestionObject.QuestionName" [ngModelOptions]="{standalone: true}" matInput placeholder="Enter Your New Question!!"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button  (click)="onAskClick(QuestionObject)" cdkFocusInitial>Ask Question</button>
</div>
